@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
/*POPPINS ARRIBA*/



* {
    margin: 0px;
    padding: 0px;
  }

body{
    background: rgb(205,255,0);
background: linear-gradient(180deg, rgba(205,255,0,1) 0%, rgba(38,38,38,1) 72%);
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.header .link-box a{
    margin-right: 25px;
    font-family: "poppins";
    font-weight: bold;
    text-decoration: none;
    
}

.header .link-box .pr{
    color: #262626;
}

.header .link-box .w{
    background-color: #00EA25;
    border-radius: 50px;
    padding: 7px 10px;
    color: #fff;
}

.header .link-box .gitHub{
    background-color: #0F0028;
    border-radius: 50px;
    padding: 7px 10px;
}


  
  #sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    left: -200px;
    transition: all 500ms linear;
    font-family: "poppins";
  
  }
  
  #sidebar.active {
    left: 0px;
  }

 
  
  #sidebar ul li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    text-align: center;
    text-transform: uppercase;
    
  }
  
  

  .logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto; 
  }
  
  #sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
  }
  
  #sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 3px solid #000;
  }

 .button{
    height: 100px;
    width: auto;
    margin-left: 0px;
 }




 


  .main-container {
    width: 70%px;
    height: 500px;
    /*background: rgb(0,93,203);
    background: linear-gradient(180deg, rgba(0,93,203,1) 0%, rgba(38,38,38,1) 72%);*/

    /*background: rgb(0,90,80);
background: linear-gradient(180deg, rgba(0,90,80,1) 0%, rgba(38,38,38,1) 72%);*/



    margin: auto;
    text-align: center;
    font-family: "poppins";
    padding-top: 60px; 
    
  }

  h1{
    margin-top: px;
    color: #fff;
    font-size: 4rem;
    margin-bottom: 0px;
  }

  .lema {
    color: #fff;
    margin-top: 0px;
  }

  .time {
    background-color: #0F0028;
    font-weight: 700;
    width: 18rem;
    margin: auto;
    padding: 7px 15px;
    border-radius: 50px;
    color: #fff;
  }

  .f1 {
    
   
    margin: auto;
    color: #fff;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 20px;
  }





























  /* From Uiverse.io by alexruix */ 
.card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }